/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Mobile - general styles */

html {
  font-size: 1em;
}

body {
  display: flex;
  justify-content: center;
  background-color: white;
}

.content-wrapper {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  margin: 10px;
  padding: 10px;
}

h1 {
  font-family: 'League Spartan';
  font-size: 3em;
  line-height: .8em;
  color: hsl(300, 43%, 22%);
  text-align: center;
  padding: 10px;
}

.claim {
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  padding: 20px;
  color: hsl(300, 43%, 22%);
}

p {
  font-family: 'League Spartan';
  margin: 0;
}

.claims-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 80%;
}

.star-review {
  border: 0;
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
  margin: 10px;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
}

.star-text {
  font-size: 1.2em;
  word-spacing: .005px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.star-icon {
  margin-top: 5px;
  padding-right: 10px;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 60px 0;
  min-width: 80%;
}

.reviewer {
  background-color: hsl(300, 43%, 22%);
  border: 0;
  border-radius: 10px;
  margin: 10px;
  padding: 30px;
}

.profile-info {
  display: flex;
  padding-bottom: 20px;
}

.face-bubble {
  border-radius: 50%;
  width: 45px;
}

.user-info {
  padding-left: 30px;
}

.reviewer-name {
  font-size: 1em;
  color: white;
  font-weight: 500;
}

.verified-buyer {
  font-size: 1em;
  color: hsl(333, 80%, 67%);
  font-weight: 400;
}

.statement {
  font-size: 1em;
  color: white;
  font-weight: 500;
  text-align: left;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


   @media only screen and (min-width:768px) {

   
   .content-wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    max-width:  800px;
    margin: 0;
  }
  
  .text-and-stars {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 75%;
    margin-bottom: 10px;
  }
  
  .text-container {
    min-width: 300px;
    margin: 0;
  }
  
  h1 {
    text-align: left;
    padding: 0;
  }
  
  .claim {
    text-align: left;
    padding: 0;
  }
  
  .claims-container {
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    max-width: 60%;
  }
  
  .star-review {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 0 6px 15px;
    min-width: 280px;
  }
  
  .star-1 {
    align-self: flex-start;
  }
  
  .star-2 {
    align-self: center;
  }
  
  .star-3 {
    align-self: flex-end;
  }
  
  .stars {
    margin: 0;
    padding: 0;
  }
  
  .star-icon {
    margin: 0;
  }
  
  .reviews-container {
    flex-direction: row;
    min-width: 80%;
    min-height: 250px;
    margin: 0;
  }
  
  .reviewer {
    max-height: 200px;
    padding: 15px;
  }

  .profile-info {
    margin: 0;
    padding: 0;
    margin: 5px;
  }

  .statement {
    font-size: 1em;
    line-height: 1em;
    font-weight: 400;
    padding: 5px;
    margin: 0;
  }
  
  .profile-1 {
    align-self: flex-start;
  }
  
  .profile-2 {
    align-self: center;
  }
  
  .profile-3 {
    align-self: flex-end;
  }

}

/* Desktop styles*/

   @media only screen and (min-width:1200px) {

.content-wrapper {
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  max-width:  1100px;
  margin: 50px 50px;
}

.text-and-stars {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 70%;
  margin-bottom: 40px;
}

.text-container {
  min-width: 400px;
}

h1 {
  text-align: left;
  padding: 0;
}

.claim {
  text-align: left;
  padding: 0;
}

.claims-container {
  align-items: flex-start;
  justify-content: center;
  margin-left: 40px;
  margin: 0;
}

.star-review {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 0 6px 15px;
  min-width: 447px;
}

.star-1 {
  align-self: flex-start;
}

.star-2 {
  align-self: center;
}

.star-3 {
  align-self: flex-end;
}

.stars {
  margin: 0;
  padding: 0;
}

.star-icon {
  margin: 0;
}

.reviews-container {
  flex-direction: row;
  width: 80%;
  min-width: 1050px;
  height: 310px;
}

.reviewer {
  min-height: 70%;
  padding: 20px;
}

.statement {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.2em;
  margin-top: 20px;
}

.profile-1 {
  align-self: flex-start;
}

.profile-2 {
  align-self: center;
}

.profile-3 {
  align-self: flex-end;
}


}











@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

